<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.board.model.mapper.BoardMapper">
 <!-- namespace: 연결할 DAO(== Mapper 인터페이스)의 경로를 작성(필수로 작성!!!) 
 				패키지 경로를 포함한 전체의 이름으로 작성-->
 
 
 <!-- 게시판 종류 조회 -->
 <select id="selectBoardTypeList">
 SELECT BOARD_CODE "boardCode",BOARD_NAME "boardName"
FROM "BOARD_TYPE"
ORDER BY BOARD_CODE
 
 </select>
 


















</mapper>
